.update {
  height: 324px;
  width: 256px;
  margin-left: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  border-radius: 20px;
}

.update svg:first-child {
  height: 44px;
  width: 44px !important;
  color: var(--orange);
}

.update svg:last-child {
  margin-left: 8px;
}

.update .update-info {
  font-size: 12px;
  text-align: center;
}
