.accent-button {
  min-height: 48px;
  min-width: 48px;

  background-color: var(--accent);

  color: white;
  border-radius: 10px;
}

.accent-button.orange {
  background-color: var(--orange) !important;
}

.accent-button:hover {
  background-color: white !important;
  color: black;
  cursor: pointer;
}
