.accent-button {
  min-height: 48px;
  min-width: 48px;

  background-color: var(--accent);

  color: white;
  border-radius: 10px;

  display: flex;

  align-items: center;
  justify-content: center;

  font-size: 16px;
}

.accent-button svg:last-child {
  height: 16px;
}

.accent-button.orange {
  background-color: var(--orange) !important;
}

.accent-button:hover {
  background-color: white !important;
  color: black;
  cursor: pointer;
}
